<mat-card>
	<mat-card-title>Cadastrar Empresa</mat-card-title>
	<form>

		<mat-form-field>
			<input matInput maxlength="40" placeholder="Empresa" [(ngModel)]="product.name" name="name" />
		</mat-form-field>


		<mat-form-field>
			<input matInput maxlength="100" placeholder="Razão social" [(ngModel)]="product.description"
				name="description" />
		</mat-form-field>



		<mat-form-field>
			<input matInput type="number" name="test_name" min="0" oninput="validity.valid||(value='');"
				placeholder="Quantidade de funcionários" [(ngModel)]="product.balance" name="balance" />
		</mat-form-field>

		<mat-form-field>
			<input matInput type="text" placeholder="Situação" [(ngModel)]="product.price" name="price" />
		</mat-form-field>
	</form>


	<button type="button" mat-raised-button (click)="createProduct()" class="btn btn-dark">Salvar</button>

	<button mat-raised-button (click)="cancel()" class="btn btn-dark">
		Cancelar
	</button>
</mat-card>