<mat-card>
	<mat-card-title>Novo Produto</mat-card-title>
	<form>

		<mat-form-field>
			<input matInput maxlength="40" placeholder="Nome" [(ngModel)]="product.name" name="name" />
		</mat-form-field>


		<mat-form-field>
			<input matInput maxlength="100" placeholder="Descrição" [(ngModel)]="product.description"
				name="description" />
		</mat-form-field>



		<mat-form-field>
			<input matInput type="number" name="test_name" min="0" oninput="validity.valid||(value='');"
				placeholder="Quantidade" [(ngModel)]="product.balance" name="balance" />
		</mat-form-field>

		<mat-form-field>
			<input matInput type="number" placeholder="Preço (R$)" [(ngModel)]="product.price" name="price" />
		</mat-form-field>
	</form>


	<button type="button" mat-raised-button (click)="createProduct()" class="btn btn-dark">Salvar</button>

	<button mat-raised-button (click)="cancel()" class="btn btn-dark">
		Cancelar
	</button>
</mat-card>