<mat-card>
	<mat-card-title>Excluir Empresa</mat-card-title>
	<form>
		<mat-form-field>
			<input matInput placeholder="Empresa" [value]="product.name" name="name" disabled />
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Razão social" [value]="product.description" name="description" disabled />
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Quantidade de funcionários" [value]="product.balance" name="balance"
				disabled />
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Situação" [value]="product.price" name="price" disabled />
		</mat-form-field>
	</form>
	<button mat-raised-button (click)="deleteProduct()" color="warn">
		Excluir
	</button>

	<button mat-raised-button (click)="cancel()">
		Cancelar
	</button>
</mat-card>