.rodape {
  width: 100%;
  color: rgb(255, 255, 255);
  height: 40px;
  text-align: center;
  background-color: rgb(6, 3, 51);
  position: fixed;
  bottom: 0;
  left: 0;
}
.rodape2 {
  width: 100%;
  color: rgb(255, 255, 255);
  height: 30px;
  text-align: center;
  background-color: rgb(6, 3, 51);
  position: fixed;
  bottom: 0;
  left: 0;
}
